<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все игры</title>
    <style>
        button {
            margin: 0px 5px
        }
    </style>
</head>
<body style="margin: 0">
    <div style="border-bottom: 1px solid; padding: 10px;">
        <button id="btn">Создать игру</button>
    </div>
    <div id="games">

    </div>
    <script>
        function newGame(){
            fetch("http://localhost:8080/game/create", {
              method: "GET"
            }).then(res => {
              window.location.replace('http://localhost:8080/game/create');
            });
        }
        document.getElementById("btn").addEventListener("click", newGame);

        const set = new Set();

        async function getGames(){
            const result = await fetch("http://localhost:8080/game/all", {
                method: "GET"
            })
            .then(response => response.json())
            .then(data => {
                set.add(data);
            })
            for(const items of set){
                for(const item of items){
                    console.log(item);
                    var node = document.getElementById('games');
                    var newNode = document.createElement('p');
                    const itemId = item.id;
                    const itemSession = item.session;
                    newNode.appendChild(document.createTextNode(itemId + " " + itemSession));
                    node.appendChild(newNode);
                }
            }
        }
        window.onload = getGames();
    </script>
</body>
</html>