<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Логин</title>
    <style>
        .authLabel {
            width: 100%;
            font-size: 18px;
            display: block;
            margin: 5px 0px;
        }

        .input {
            width: 100%;
            font-size: 14px;
            margin: 5px 0px;
        }

        .btn-submit {
            margin: 15px auto;
            width: 100%;
        }

    </style>
</head>
<body>
    <div style="margin: 10% auto; display: block; width: 40%;">
        <div>
            <label class="authLabel" for="login">Логин</label>
            <input class="input" type="text" id="login">
        </div>
        <div>
            <label class="authLabel" for="password">Пароль</label>
            <input class="input" type="password" id="password">
        </div>
        <div style="margin: 0 auto; width: 50%;">
            <button onclick="log()" class="btn-submit">Войти</button>
        </div>
        <div style="margin: 0 auto; width: 50%;">
            <button onclick="reg()" class="btn-submit">Зарегистрироваться</button>
        </div>
    </div>
    <script>
        function log(){
            const log = document.getElementById("login").value;
            const pass = document.getElementById("password").value;
            let data = {login: log, password: pass};
            fetch("http://localhost:8080/login", {
              method: "POST",
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(data)
            }).then(res => {
              window.location.replace('http://localhost:8080/games');
            });
        }

        function reg(){
            fetch("http://localhost:8080/register", {
            method: "GET"
            }).then(x => {
                window.location.replace('http://localhost:8080/register');
            });
        }
    </script>
</body>
</html>